<h1> Showing Products Details</h1>
<br>
<p> <strong>Name: </strong><%= @product.name%></p>
<p> <strong>description: </strong><%=@product.description%></p>
<p> <strong>stock: </strong><%= @product.stock%></p>
<p> <strong>Price: </strong><%= @product.price%></p>

<%= link_to 'Return to Product listing', products_path%>